@import "../../../shared.scss";

.header-cell {
  display: flex;

  p {
    margin: auto;
  }
}

.header-row {
  border-bottom: $table-border-size;
  border-color: $table-border-colour;
  color: rgb(75, 75, 75);
  height: 40px;
}

.mobile-view {
  display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  .mobile-view {
    display: block;
  }

  .desktop-view {
    display: none;
  }
}

@media screen and (max-width: $tablet-breakpoint-small) {
  .header-row {
    font-size: 12px;
  }
}
