@import "../../shared.scss";

.weekTable {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  flex: 1 1 0;
  border-right: $table-border-size;
  border-color: $table-border-colour;
}
