@import "./shared.scss";

.weekTable {
    display: flex;
    flex-direction: column;
}

.weekTableRow {
  display: flex;
  flex-direction: row;
}

.weekTableCol {
  flex: 1 1 0;
}

.mobileView {
    display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
    .mobileView {
        display: block;
    }
    
    .desktopView {
        display: none;
    };
}
